$bkgcolor:#F4F4F4;
$innercolor: #EEEDEB;
$title-text-size: 5vh;

body{
    background-color: $bkgcolor;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .front-container{
            margin: 2vh 10vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: $innercolor;
            border: white solid 15px;  
            height: 60vw;
            width: 80vw;          

            .card{
                height:40%;
                width: 40%;
                margin: 1vh 10px;
                border: white 5px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                .card-title{
                    font-size: $title-text-size
                }
            }

            .card-center{
                position: absolute;
                border-radius: 50%;
                height: 30vw;
                width: 30vw;
                z-index: 1;
                border: white 5px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: aqua;
                .card-title{
                    font-size: $title-text-size;
                }
            }
        }
    }
}

