$bkgcolor:#F4F4F4;
$innercolor: #EEEDEB;
$title-text-size: 4vw;
$band-font: 'Permanent Marker', cursive;
$title-font: 'Lobster', cursive;
$sub-font: 'Kalam', cursive;


html{
    scroll-behavior: smooth;
}

body{
    background-color: $bkgcolor;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .front-container{
            margin: 2vh 10vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: $innercolor;
            border: white solid 15px;  
            height: 90vh;
            width: 80vw;   
            box-shadow: 0 4px 5px -6px black;
       

            .card{
                height:40%;
                width: 40%;
                margin: 1vh 10px;
                border: white 5px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                a{
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                }
                .card-title{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: $title-text-size;
                    font-family: $title-font;
                    letter-spacing: 4px;
                    color: $bkgcolor;
                    background-color: rgba($color: #000000, $alpha: .2);
                    font-weight:600;
                    text-shadow: 0px 0px 3px #000;
                }
                .card-title:hover{
                    background-color: rgba($color: #000000, $alpha: .5);
                }
            }
            #shows{
                background: url(https://images.pexels.com/photos/878998/pexels-photo-878998.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
                background-size: cover;
            }

            #bio{
                background: url(https://upload.wikimedia.org/wikipedia/en/thumb/d/d1/Waax_band_2018.jpg/800px-Waax_band_2018.jpg);
                background-size: cover;
                background-position: center;
            }

            #store{
                background: url(https://live.staticflickr.com/2371/2356320632_0f10fa447e_b.jpg);
                background-position: center;
            }

            #photos{
                background: url(https://www.goodfreephotos.com/albums/united-states/california/other/rocky-shoreline-landscape-in-big-sur-california.jpg);
                background-position: center;
                background-size: cover;
            }

            .card-center{
                position: absolute;
                border-radius: 50%;
                height: 23vw;
                width: 23vw;
                z-index: 1;
                border: white 5px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                background: url(https://cdn.pixabay.com/photo/2015/03/26/10/25/trees-691292_960_720.jpg);
                background-size: cover;
                .card-title{
                    font-size: $title-text-size;
                    font-family: $band-font;
                    color: $bkgcolor;
                    text-align: center;
                }

            }
        }
        .sub-container{
            margin: 7vh 10vw;
            width: 80vw;   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .sub-title{
                font-size: $title-text-size;
                font-family: $sub-font;
                border-bottom:black 2px solid;
            }
    
            .icons{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                img{
                    width: 15vw;
                    cursor: pointer;
                }
            }
        }
        .bottom-container{
            font-family: $sub-font;
            width: 100%;
            margin: 2vh 10vw;
            display: flex;
            justify-content: center;    
    
            .tour-dates{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80vw;
                padding: 30px;
                list-style: none;
                border: rgb(255, 255, 255) 15px solid;
                box-shadow: 0 4px 5px -6px black;

                h2{
                    border-bottom:black 2px solid;
                }

                .date{
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom: 1px black solid;
                    text-align: left;
                    li{
                        width: 90%;
                        margin: 7px;
                    }
                }


            }
        }
    }

    
}

@media (max-width: 950px){
        body{
            .container{
                    .front-container{
                        height: 50vh;
                        .card{
                            .card-title{
                                font-size: 3vh;
                                width: 80%;
                            }
                        }
                        .card-center{
                            width: 20vh;
                            height: 20vh;
                            .card-title{
                                font-size: 3vh;
                            }
                        }
                    }
            }
        }
}